<% provide :title, t("static_pages.help.title") %>
<h1><%= t "static_pages.help.title" %></h1>
<p>
  <%= t "static_pages.help.helpTut" %>
  <a href="http://www.railstutorial.org/help">Rails Tutorial help section</a>.
  <%= t "static_pages.help.helpApp" %>
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
