<% provide :title, t("static_pages.home.title") %>
<h1><%= t "static_pages.home.title" %></h1>
<p>
  <%= t "static_pages.home.txt" %>
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
</p>
