# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 262ca8526fadc908806b0028877323656bfd461908d774013a8518edf6f31c346a5f71ae1ac25aa47780043f0c17be4e58a36ad1d969660250f51c3f2c70d88c

test:
  secret_key_base: 022300e1342bc1746780387470978d452e95d3dd7bf7761f3159575675ef4a0f9109937ba6fd83edaaf4278a3655eb1a15db2b88f8668c564b67bb65de4fb15c

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
